:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0);
  background-color: #f5f5dd !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: #f5f5dd !important;
}

h1 {
  font-size: 50px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #a0522c;
}

h2 {
  font-size: 26px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #a0522c;
}

h3 {
  font-size: 26px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: black;
}

h4 {
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: black;
}
p {
  font-size: 20px;
  font-family: "Lora", serif;
  /* font-weight: <weight>; */
  font-style: normal;
  color: black;
}

a {
  font-size: 20px;
  font-family: "Lora", serif;
  /* font-weight: <weight>; */
  font-style: normal;
  color: black;
  text-decoration: none;
}

li {
  font-size: 20px;
  font-family: "Lora", serif;
  /* font-weight: <weight>; */
  font-style: normal;
  color: black;
}

a:hover {
  color: #e6644a;
}

.width-90 {
  max-width: 90%;
}
.divider {
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: black;
  border: 1px solid black; /* Adjust the color and style as needed */
}
.info-text {
  font-size: 18px;
}

.left-align {
  text-align: left;
}

.center-content {
  place-items: center;
  margin: auto;
  text-align: center;
}

.label {
  font-size: 18px;
  color: #a0522c;
}
.brown-text {
  color: #a0522c;
}
.black-text {
  color: black;
}

.margin-left {
  margin-left: 5%;
}
.margin-right {
  margin-right: 1%;
}

.margin-bottom {
  margin-bottom: 1% !important;
}
.home {
  margin: auto;
  max-width: 90%;
  padding-top: 5%;
  place-items: center;
  display: flex;
}

.about {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 90%;
  place-items: center;
  display: flex;
}

.overview {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 90%;
  place-items: center;
  display: flex;
}
.exec-summary {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 90%;
  display: flex;
}

.collab-list {
  display: flex;
}

.headshot {
  width: 300px;
  height: 300px;
  float: left;
}

.home-text {
  padding-left: 5%;
  float: right;
}

.navbar {
  width: 100%;
  --bs-navbar-color: black;
  --bs-navbar-active-color: #e6644a;
  --bs-navbar-hover-color: #e6644a;
  --bs-navbar-brand-color: black;
  --bs-navbar-brand-hover-color: #e6644a;
  background-color: #f5f5dd !important;
}

.inactive-nav {
  --bs-navbar-active-color: black !important;
  --bs-navbar-hover-color: #e6644a;
  --bs-navbar-brand-color: black;
}

.nav-brand {
  font-family: "Space Grotesk", sans-serif;
  font-size: 28px;
  margin-left: 0px !important;
  --bs-navbar-brand-margin-end: 0px !important;
}
.nav-link {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  margin: 1%;
  padding-right: 100px;
}

.project-box {
  margin: auto;
  max-width: 90%;
  place-items: center;
  width: 100%;
  display: flex;
}

.project-icon {
  height: 167px;
  width: 250px;
  margin-right: 1%;
}

.project-label {
  place-items: normal start !important;
}

.see-more {
  background-color: transparent;
  color: #e6644a;
  border-style: solid;
  border-color: #e6644a;
  border-width: 2px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 20px;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #e6644a;
  --bs-btn-hover-border-color: #e6644a;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #e6644a;
  --bs-btn-active-border-color: #e6644a;
}

.see-selected-work {
  margin: auto;
  background-color: transparent;
  color: #e6644a;
  border-style: solid;
  border-color: #e6644a;
  border-width: 3px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 30px;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #e6644a;
  --bs-btn-hover-border-color: #e6644a;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #e6644a;
  --bs-btn-active-border-color: #e6644a;
}

.full-body {
  width: 250px;
  height: 338px;
}

.about-text {
  margin-left: 1%;
}

.overview-text {
  margin-left: 1%;
  max-width: 60%;
}

.overview-img {
  width: 325px;
  aspect-ratio: 3 / 2;
}

.project-header {
  font-size: 40px;
}
.whiteboard-wireframe {
  width: 600px;
  margin: auto;
}
.courses-wireframe {
  width: 600px;
  margin: auto;
}

.width-600 {
  width: 600px;
  max-width: 600px;
  margin: auto;
}

.width-500 {
  width: 500px;
  max-width: 500px;
  margin: auto;
}

.width-400 {
  width: 400px;
  max-width: 400px;
  margin: auto;
}

.wesbite-dev-text {
  margin-left: 5%;
  max-width: 70%;
}

.early-faqs {
  width: 600px;
  margin: auto;
}

.progress-img {
  width: 450px;
  margin: auto;
}

.home-p {
  font-size: 24px;
}
.poster-img {
  height: 250px;
}

.thanks {
  margin-right: 10%;
}

.key-insights {
  max-width: 60%;
  margin-left: 1%;
}

.project-photo {
  border: 1px solid #000000;
  filter: drop-shadow(2px 3px 2px #e6644a);
}
/* 




button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
